html {
  font-size: 62.5%;
}
:root {
  --gray: #3d3d3d;
  --base-color: #707070;
  --border-color: #cccccc;
  --input-font-size: clamp(1.6rem, 2vw, 2rem);
  --content-padding: 0 5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

.title {
  margin: 64px 0 40px;
  font-size: clamp(3.6rem, 3vw, 4rem);
  text-align: center;
  color: var(--gray);
}

.input-area {
  text-align: center;
  margin-bottom: 24px;
}
.zoom {
  position: absolute;
  top: 32px;
  right: 5vw;
  margin: 0;
  padding: 32px;
  opacity: 0.3;
  transition: opacity 0.2s;
}
.zoom:hover {
  opacity: 1;
}
.zoom .text {
  margin: 0;
  font-size: var(--input-font-size);
  color: var(--gray);
}
.label {
  font-size: var(--input-font-size);
  color: var(--gray);
}
.small {
  font-size: 1.4rem;
}
.input {
  padding: 6px 10px;
  min-width: 80px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--gray);
  font-size: var(--input-font-size);
}

.chart-field {
  padding: var(--content-padding);
}
.table {
  border-collapse: collapse;
  margin: 0 auto;
}
.tr {
  display: flex;
}
.tr td {
  display: flex;
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  min-width: 60px;
  line-height: 0;
  text-align: center;
  color: var(--base-color);
  border: 1px solid var(--border-color);
}
.tr td::after {
  content: '';
  display: block;
  padding-top: 100%;
}
.tr .primeNumber {
  background-color: var(--base-color);
  color: #ffffff;
}
